<div class="page-header">
	<h1>Unsere Produkte</h1>
	<p class="text-muted">Bitte klicken Sie für eine vergrößerte Ansicht auf das Produkt.</p>
</div>

<div class="row product-list" ng-repeat="category in p.categories" ng-if="category.products.length">

	<h3 class="col-xs-12" ng-if="category.products.length">{{ category.title }}</h3>

	<div class="col-md-3 col-sm-4 col-xs-6" ng-repeat="product in category.products">
		<a href ng-click="p.openPreview(category.products, $index)" class="panel panel-default">
			<div class="panel-heading">{{ product.title }}</div>
			<div class="panel-body">
				<img ng-src="{{ product.image.thumb }}" class="img-responsive img-product" alt="Produktbild">
				<span class="small text-muted">Produkt-Nr. {{ product.number }}</span>
			</div>
		</a>
	</div>

</div>

<div class="jumbotron" ng-if="p.products.length == 0">
	<h1>:-(</h1>
	<p>Zur Zeit gibt es leider keine Produkte.</p>
</div>
