a.panel {
	display: block;
	text-decoration: none;

	.img-product {
		margin-bottom: 10px;
	}

	&:hover {
		cursor: pointer;
		cursor: zoom-in;
		border-color: #337ab7;

		.panel-heading {
			color: #fff;
			background-color: #337ab7;
			border-color: #337ab7;
		}
	}

	.panel-body {
		padding-bottom: 10px;
	}
}

.lightbox-image-caption {
	font-weight: normal;
	text-shadow: none;
}

.product-list {
	padding-bottom: 1.5em;

	h3 {
		margin-top: 0;
		margin-bottom: 1em;
		padding-bottom: .3em;
		border-bottom: 1px solid #ddd;
	}

	&:last-of-type {
		padding-bottom: 0;
	}
}
