<div class="page-header">
	<h1>Einstellungen</h1>
	<p class="text-muted">Hier können Sie die Einstellungen für diesen Shop vornehmen.</p>
</div>

<div class="row">
	<form class="col-md-6 col-sm-8">
		<div class="well">
			<div class="form-group">
				<label for="shopName" class="control-label">Shop-Name:</label>
				<input type="text" class="form-control" id="shopName" placeholder="Name" ng-model="m.settings.shopName">
			</div>
			<div class="form-group">
				<label for="copyrightText" class="control-label">Copyright-Text:</label>
				<input type="text" class="form-control" id="copyrightText" placeholder="Firma" ng-model="m.settings.copyright.text">
			</div>
			<div class="form-group">
				<label for="copyrightLink" class="control-label">Link:</label>
				<input type="url" class="form-control" id="copyrightLink" placeholder="http://" ng-model="m.settings.copyright.link">
			</div>
		</div>
		<div class="well">
			<div class="form-group">
				<label for="baseUrl" class="control-label">URL des Datenservers:</label>
				<input type="text" class="form-control" id="baseUrl" placeholder="https://" ng-model="m.settings.baseUrl">
			</div>
		</div>
		<div class="well">
			<div class="form-group">
				<label for="notificationSenderName" class="control-label">Absender von E-Mail-Benachrichtigungen:</label>
				<input type="text" class="form-control" id="notificationSenderName" placeholder="Firma" ng-model="m.settings.notification.sender.name">
			</div>
			<div class="form-group">
				<label for="notificationSenderAddress" class="control-label">Absender-Adresse:</label>
				<input type="email" class="form-control" id="notificationSenderAddress" placeholder="mail@beispiel.de" ng-model="m.settings.notification.sender.emailAddress">
			</div>
			<div class="form-group">
				<label for="notificationText" class="control-label">Text der E-Mail-Benachrichtigung:</label>
				<textarea class="form-control" rows="5" id="notificationText" ng-model="m.settings.notification.text"></textarea>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-xs-8">
				<button type="button" class="btn btn-success btn-block">Änderungen speichern</button>
			</div>
			<div class="col-xs-4">
				<button type="reset" class="btn btn-default btn-block">Abbrechen</button>
			</div>
		</div>
	</form>
</div>
