<div class="modal-header">
	<h3 class="modal-title">Neues Produkt hinzufügen</h3>
</div>
<div class="modal-body">
	<div class="form-group">
		<label for="title">Titel</label>
		<input type="text" class="form-control" ng-model="product.title" placeholder="Titel" id="title">
	</div>
	<div class="form-group">
		<label for="number">Produkt-Nr.</label>
		<input type="text" class="form-control" ng-model="product.number" placeholder="Produkt-Nr." id="number">
	</div>
	<div class="form-group">
		<label for="category">Kategorie</label>
		<select class="form-control" ng-options="category as category.title for category in a.categories track by category.id" ng-model="product.category" id="category">
			<option value="" disabled hidden>Kategorie</option>
		</select>
	</div>
	<div class="form-group">
		<label for="image">Produktbild</label>
		<input type="file" class="form-control" id="image">
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" ng-click="$dismiss();">Abbrechen</button>
	<button type="button" class="btn btn-success" ng-click="$close(product);">Speichern</button>
</div>
