<div class="page-header">
	<button type="button" class="btn btn-sm btn-success pull-right"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Neuen Benutzer hinzufügen</button>
	<h1>Benutzer verwalten</h1>
	<p class="text-muted">Hier können Sie Benutzer hinzufügen, bearbeiten und löschen.</p>
</div>

<table class="table table-align-middle" ng-if="a.users">
	<thead>
		<tr>
			<th width="1em"></th>
			<th>E-Mail-Adresse</th>
			<th>Aktiv</th>
			<th>Status</th>
			<th>Erstellt am</th>
			<th>Aktionen</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="user in a.users" ng-click="a.toggleSelection(user);" ng-class="{ 'active': user.selected }">
			<td><input type="checkbox" ng-model="user.selected" ng-click="$event.stopPropagation();"></td>
			<td>{{ user.email }}</td>
			<td ng-switch="user.active">
				<span class="label label-success" ng-switch-when="true">Ja</span>
				<span class="label label-warning" ng-switch-default>Nein</span>
			</td>
			<td ng-switch="user.status">
				<span ng-switch-when="customer">Kunde</span>
				<span ng-switch-when="employee">Mitarbeiter</span>
				<span ng-switch-when="admin">Administrator</span>
			</td>
			<td>{{ user.createdAt | date: 'd.M.yyyy H:mm' }}</td>
			<td>
				<button type="button" class="btn btn-sm btn-primary" uib-tooltip="Passwort zuschicken"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></button>
				<button type="button" class="btn btn-sm btn-info" uib-tooltip="Bearbeiten"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
				<button type="button" class="btn btn-sm btn-warning" ng-class="{ 'disabled': user.status == 'admin' }" ng-click="u.deactivate(user); $event.stopPropagation();" uib-tooltip="Deaktivieren" ng-if="user.active"><span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span></button>
				<button type="button" class="btn btn-sm btn-success" ng-click="u.activate(user); $event.stopPropagation();" uib-tooltip="Aktivieren" ng-if="!user.active"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button>
				<button type="button" class="btn btn-sm btn-danger" ng-class="{ 'disabled': user.status == 'admin' }" ng-click="u.delete(user); $event.stopPropagation();" uib-tooltip="Löschen"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
			</td>
		</tr>
		<tr class="active">
			<td></td>
			<td><input type="email" class="form-control" ng-model="user.email" placeholder="E-Mail-Adresse"></td>
			<td>
				<select class="form-control">
					<option disabled selected hidden>Aktiv</option>
					<option>Ja</option>
					<option>Nein</option>
				</select>
			</td>
			<td>
				<select class="form-control">
					<option disabled selected hidden>Status</option>
					<option>Kunde</option>
					<option>Mitarbeiter</option>
					<option>Administrator</option>
				</select>
			</td>
			<td>{{ u.date | date: 'd.M.yyyy H:mm' }}</td>
			<td>
				<button type="button" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
				<button type="button" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></td>
			<td colspan="5">
				<button type="button" class="btn btn-sm btn-success" ng-click="u.activateSelected();"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Aktivieren</button>
				<button type="button" class="btn btn-sm btn-warning" ng-click="u.deactivateSelected();"><span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span> Deaktivieren</button>
				<button type="button" class="btn btn-sm btn-danger" ng-click="u.deleteSelected();"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Löschen</button>
			</td>
		</tr>
	</tfoot>
</table>

<div class="alert alert-danger" ng-if="a.users.length == 0">
	Zur Zeit gibt es keine Benutzer. <a href class="alert-link">Neuen Benutzer anlegen</a>.
</div>
