<div class="modal-header">
	<h3 class="modal-title">Neues Produkt hinzufügen</h3>
</div>
<div class="modal-body">
	<form name="form">
		<div class="form-group" ng-class="{ 'has-success has-feedback' : form.title.$touched && form.title.$valid,
											'has-error has-feedback'   : form.title.$touched && form.title.$invalid }">
			<label class="control-label" for="title">Titel</label>
			<input type="text" class="form-control" ng-model="n.product.title" placeholder="Titel" id="title" name="title" required>
			<span class="glyphicon glyphicon-ok form-control-feedback"     ng-if="form.title.$touched && form.title.$valid"></span>
			<span class="glyphicon glyphicon-remove form-control-feedback" ng-if="form.title.$touched && form.title.$invalid"></span>
		</div>
		<div class="form-group" ng-class="{ 'has-success has-feedback' : form.number.$touched && form.number.$valid,
											'has-error has-feedback'   : form.number.$touched && form.number.$invalid }">
			<label class="control-label" for="number">Produkt-Nr.</label>
			<input type="text" class="form-control" ng-model="n.product.number" placeholder="Produkt-Nr." id="number" name="number" required>
			<span class="glyphicon glyphicon-ok form-control-feedback"     ng-if="form.number.$touched && form.number.$valid"></span>
			<span class="glyphicon glyphicon-remove form-control-feedback" ng-if="form.number.$touched && form.number.$invalid"></span>
		</div>
		<div class="form-group" ng-class="{ 'has-success has-feedback' : form.category.$touched && form.category.$valid,
											'has-error has-feedback'   : form.category.$touched && form.category.$invalid }">
			<label class="control-label" for="category">Kategorie</label>
			<select class="form-control" ng-options="category as category.title for category in a.categories track by category.id" ng-model="n.product.category" id="category" name="category" required>
				<option value="" disabled hidden>Kategorie</option>
			</select>
		</div>
		<div class="form-group">
			<label>Produktbild</label><br>
			<button type="file" class="btn btn-default" ngf-select="n.upload($file);" accept="image/*" ngf-max-size="10MB" ng-hide="n.file.name">Bild auswählen</button>
			<div ng-show="n.product.image" class="text-success">
				<span class="glyphicon glyphicon-ok"></span> {{n.file.name}}
			</div>
			<div class="progress" ng-show="n.file.progress && !n.product.image">
				<div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" style="width:{{n.file.progress}}%;"></div>
			</div>
			<div class="alert alert-danger" ng-show="n.errorMsg">{{n.errorMsg}}</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" ng-click="$dismiss();">Abbrechen</button>
	<button type="button" class="btn btn-success" ng-click="$close(n.product);" ng-disabled="form.$invalid">Speichern</button>
</div>
