<div class="modal-header">
	<h3 class="modal-title">Neuen Benutzer hinzufügen</h3>
</div>
<div class="modal-body">
	<form name="form">
		<div class="form-group" ng-class="{ 'has-success has-feedback' : form.email.$touched && form.email.$valid,
		 									'has-error has-feedback'   : form.email.$touched && form.email.$invalid }">
			<label class="control-label" for="email">E-Mail-Adresse</label>
			<input type="email" class="form-control" ng-model="user.email" placeholder="E-Mail-Adresse" id="email" name="email" required>
			<span class="glyphicon glyphicon-ok form-control-feedback"     ng-if="form.email.$touched && form.email.$valid"></span>
			<span class="glyphicon glyphicon-remove form-control-feedback" ng-if="form.email.$touched && form.email.$invalid"></span>
		</div>
		<div class="form-group" ng-class="{ 'has-success has-feedback' : form.password.$touched && form.password.$valid,
		 									'has-error has-feedback'   : form.password.$touched && form.password.$invalid }">
			<label class="control-label" for="password">Passwort</label>
			<input type="password" class="form-control" ng-model="user.password" placeholder="Passwort" id="password" name="password" minlength="8" required>
			<span class="glyphicon glyphicon-ok form-control-feedback"     ng-if="form.password.$touched && form.password.$valid"></span>
			<span class="glyphicon glyphicon-remove form-control-feedback" ng-if="form.password.$touched && form.password.$invalid"></span>
		</div>
		<div class="form-group">
			<label class="control-label" for="active">Aktiv</label>
			<select class="form-control" ng-options="(active ? 'Ja' : 'Nein') for active in [true, false]" ng-model="user.active" ng-init="user.active = true" id="active"></select>
		</div>
		<div class="form-group">
			<label class="control-label" for="status">Status</label>
			<select class="form-control" ng-model="user.status" ng-init="user.status = 'customer'" id="status">
				<option value="customer">Kunde</option>
				<option value="employee">Mitarbeiter</option>
				<option value="admin">Administrator</option>
			</select>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" ng-click="$dismiss();">Abbrechen</button>
	<button type="button" class="btn btn-success" ng-click="$close(user);" ng-disabled="form.$invalid">Speichern</button>
</div>
