<div class="page-header">
	<button type="button" class="btn btn-sm btn-success pull-right" ng-click="p.add();"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Neues Produkt hinzufügen</button>
	<h1>Produkte verwalten</h1>
	<p class="text-muted">Hier können Sie Produkte hinzufügen, bearbeiten und löschen.</p>
</div>

<table class="table table-align-middle table-hover" ng-if="a.products">
	<thead>
		<tr>
			<th width="1em"></th>
			<th>Produktbild</th>
			<th>Bezeichnung</th>
			<th>Produkt-Nr.</th>
			<th>Kategorie</th>
			<th width="30%">Aktionen</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="product in a.products" ng-click="p.select(product);" ng-class="{ 'active': product.selected }">
			<td><input type="checkbox" ng-model="product.selected" ng-click="$event.stopPropagation();" ng-hide="p.editing[ product.id ]"></td>
			<td><img ng-src="{{ product.image.thumb }}" width="100" height="75" class="img-responsive" alt=""></td>
			<td ng-hide="p.editing[ product.id ]">{{ product.title }}</td>
			<td ng-show="p.editing[ product.id ]"><input type="text" class="form-control" ng-model="product.title" placeholder="Titel"></td>
			<td ng-hide="p.editing[ product.id ]">{{ product.number }}</td>
			<td ng-show="p.editing[ product.id ]"><input type="text" class="form-control" ng-model="product.number" placeholder="Produkt-Nr."></td>
			<td ng-hide="p.editing[ product.id ]">
				<span ng-if="product.category.title">{{ product.category.title }}</span>
				<em ng-if="!product.category.title">Keine Kategorie</em>
			</td>
			<td ng-show="p.editing[ product.id ]">
				<select class="form-control" ng-options="category as category.title for category in a.categories track by category.id" ng-model="product.category">
					<option value="" disabled hidden>Kategorie</option>
				</select>
			</td>
			<td ng-hide="p.editing[ product.id ]">
				<button type="button" class="btn btn-xs btn-info" ng-click="p.edit(product); $event.stopPropagation();"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Bearbeiten</button>
				<button type="button" class="btn btn-xs btn-warning" ng-click="p.deactivate(product); $event.stopPropagation();" ng-if="product.active"><span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span> Deaktivieren</button>
				<button type="button" class="btn btn-xs btn-success" ng-click="p.activate(product); $event.stopPropagation();" ng-if="!product.active"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Aktivieren</button>
				<button type="button" class="btn btn-xs btn-danger" ng-click="p.delete(product); $event.stopPropagation();"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Löschen</button>
			</td>
			<td ng-show="p.editing[ product.id ]">
				<button type="button" class="btn btn-xs btn-success" ng-click="p.save(product); $event.stopPropagation();"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Speichern</button>
				<button type="button" class="btn btn-xs btn-default" ng-click="p.cancel(product); $event.stopPropagation();"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Abbrechen</button>
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></td>
			<td colspan="5">
				<button type="button" class="btn btn-sm btn-success" ng-click="p.activateSelected();"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Aktivieren</button>
				<button type="button" class="btn btn-sm btn-warning" ng-click="p.deactivateSelected();"><span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span> Deaktivieren</button>
				<button type="button" class="btn btn-sm btn-danger" ng-click="p.deleteSelected();"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Löschen</button>
			</td>
		</tr>
	</tfoot>
</table>

<div class="alert alert-danger" ng-if="a.products.length == 0">
	Zur Zeit gibt es keine Produkte. <a href class="alert-link">Neues Produkt anlegen</a>.
</div>
