<div class="row">
	<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
		<h2 class="text-center">{{ m.settings.shopName }}</h2>
		<p class="text-center text-muted">Bitte geben Sie Ihre Zugangsdaten ein.</p>
		<hr>
		<form class="well">
			<div class="form-group">
				<input type="email" class="form-control" placeholder="E-Mail-Adresse">
			</div>
			<div class="form-group">
				<input type="password" class="form-control" placeholder="Passwort">
			</div>
			<button type="submit" class="btn btn-block btn-primary" ui-sref="home">Anmelden</button>
		</form>
	</div>
</div>
